html, body {
  height: 100%;
  width: 100%;
}
body{
  background-image: url("../../static/images/header.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 2;
}
tr:nth-child(even) {
  background-color: #D6EEEE;
}
tr:nth-child(odd) {
  background-color: #A6EEEE;
}
h1, h2{
  font-family: sans-serif;
  font-size: 24px;
  color: black;
  background-color: gray;
  text-align:center;
}
h2{
  font-size: 12px;
}
p{
  font-family: sans-serif;
  font-size: 20px;
  color:black;
  text-align:center;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;  
  opacity: 0.1;
}
