html, body {
  height: 100%;
  width: 100%;
}

body{
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 2;
  padding: 0;
  margin: 0;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

tr:nth-child(odd) {
  background-color: #A6EEEE;
}

h1, h2{
  font-family: sans-serif;
  font-size: 24px;
  color: black;
  background-color: gray;
  text-align:center;
}

h2{
  font-size: 12px;
}

p{
  font-family: sans-serif;
  font-size: 20px;
  color:black;
  text-align:center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;  
  opacity: 0.1;
}

.tabs {
  border: 1px solid #cccccc;
  display: flex;
}

.tabs__sidebar{
  width: 125px;
  flex-shrink: 0;
  background: #cccccc;
}

.tabs__button {
  display: black;
  padding: 10px;
  background: #eeeeee;
  border: none;
  width: 100%;
  outline: none;
  cursor: pointer;
}

.tabs__button:active {
  background: #dddddd;
}

.tabs__button:not(:last-of-type) {
  border-bottom: 1px solid #cccccc;
}

.tabs__button--active {
  font-weight: bold;
  border-right: 2px solid #009879;
  background: #dddddd;
}

.tabs__content {
  padding: 15px;
  font-size: 0.8rem;
  display: none;
}

.tabs__content--active {
  display: block;
}

.tabs__content > :first-child {
  margin-top: 0;
}

